{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Learning SMKN 2 Baleendah{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'image/logo smk.jpg' %}" alt="Logo SMK">
            <a href="{% url 'home' %}"><img src="{% static 'image/logo.smk.jpg' %}" alt= "back-home"</a>
            </div>
            <div class="welcome">Selamat Datang di E-Learning </div>
            <a href="learning/login" class="login-link">Masuk</a>

            
            
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 BelajarOnline | SMKN 2 BALEENDAH</p>
    </footer>
</body>
</html>
