{% extends 'learning/base.html' %}
{% load static %}

{% block content %}

<a href="{% url 'tambah_tugas' %}" class="btn btn-primary" style="margin-top: 20px;">
    ➕ Tambah Tugas
</a>

<a href="{% url 'daftar_pengumpulan_tugas' %}" class="btn">📥 Lihat Pengumpulan Tugas</a>


<div style="text-align: right; margin-bottom: 20px;">
  <a href="{% url 'tambah_bab' %}" class="btn btn-primary">+ Tambah Bab</a>
</div>
{% if user.role == 'guru' %}
  <a href="{% url 'tambah_bab' %}" class="btn">+ Tambah Bab</a>
{% endif %}


{% endblock content %}