{% extends 'learning/base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="welcome_login">
        <h4>SILAHKAN LOGIN MENGGUNAKAN AKUN MASING-MASING</h4>
    </div>

    <div class="form_login">
        <label>Username:</label>
        <input type="text" name="username" required><br>

        <label>Password:</label>
        <input type="password" name="password" required><br>

        <button type="submit">Login</button>
    </div>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
</form>
{% endblock %}
