{% extends 'learning/base.html' %}
{% load static %}

{% block title  %}dashboard murid{% endblock %}
{% block content %}
<h1>Daftar Mata Pelajaran</h1>

    {% if mapel_list %}
        {% for mapel in mapel_list %}
            <div>
                {% if mapel.gambar %}
                    <img src="{{ mapel.gambar.url }}" alt="{{ mapel.nama }}" width="300">
                {% endif %}
                <a href="{% url 'detail_mapel_siswa' mapel.id %}">
                    <h3>{{ mapel.nama }} - {{ mapel.kelas.nama }}</h3>
                </a>
                <p>38% complete</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>Belum ada mata pelajaran untuk kelas ini.</p>
    {% endif %}
{% endblock content %}