{% extends 'learning/base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <!-- CARD -->
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">➕ Tambah Mapel Baru</h5>
                </div>

                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Nama Mapel -->
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Nama Mapel</label>
                            <input type="text" name="nama" class="form-control" placeholder="Contoh: Matematika kelas:xxx" required>
                        </div>

                        <!-- Kelas -->
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Kelas yang anda ajar</label>
                            <select name="kelas" class="form-select" required>
                                <option value="">-- Pilih Kelas Disini --</option>
                                {% for k in kelas_list %}
                                    <option value="{{ k.id }}">{{ k.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Gambar -->
                        <div class="mb-3">
                            <label class="form-label fw-semibold">Gambar Mapel</label>
                            <input type="file" name="gambar" class="form-control">
                        </div>

                        <!-- BUTTON -->
                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'dashboard_guru' %}" class="btn btn-secondary">
                                ⬅ Kembali
                            </a>
                            <button type="submit" class="btn btn-success">
                                💾 Simpan Mapel
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <!-- END CARD -->

        </div>
    </div>
</div>

{% endblock %}
