body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(243, 240, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


